@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Mulish&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}
.app {
  background-color: steelblue;
  color: white;
  font-family: "Mulish", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.auth-container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  min-width: 600px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 25px;
}

.post-container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  min-width: 600px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 25px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4);
}

#twitter-div {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  width: 350px;
  background-color: #1ea1f1;
  border-radius: 5px;
  cursor: pointer;
}
#twitter-div:hover {
  transform: scale(0.98);
  opacity: 0.89;
}

#twitter-div svg {
  font-size: 3.2rem;
  align-self: center;
}
#twitter-div p {
  font-size: 25px;
}

#linkedin-div {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  width: 350px;
  background-color: #0b66c2;
  border-radius: 5px;
  cursor: pointer;
}
#linkedin-div:hover {
  transform: scale(0.98);
  opacity: 0.89;
}

#linkedin-div svg {
  font-size: 3.2rem;
  align-self: center;
}
#linkedin-div p {
  font-size: 25px;
}

#break {
  border: 1px solid rgba(16, 39, 61, 0.294);
  width: 100%;
}

.linkedin-container,
.twitter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#authed {
  margin-left: 30px;
  font-size: 30px;
}

.header {
  display: flex;
  font-family: "Dela Gothic One", cursive;
  font-size: 2rem;
}

.multi {
  color: black;
  padding: 5px 40px;
  background-color: rgba(255, 219, 17, 0.815);

  border-bottom-left-radius: 15px;
}
.post {
  padding: 5px 40px;
  background-color: rgba(0, 0, 0, 0.678);
  border-top-right-radius: 15px;
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.post-form input {
  margin: 40px 0;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.post-form input:focus {
  outline: none;
}

.post-form button {
  padding: 15px 30px;
  align-self: center;
  border-radius: 16px;
  background-color: #0b66c2;
  color: white;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.post-form button:focus {
  outline: none;
}
.post-form button:hover {
  cursor: pointer;
  transform: scale(0.97);
  opacity: 0.8;
}
